<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">M3i</span>
        <div id="formSearchGlobal">
           <button id="openSearchFormation" class="btn">rechercher votre avenir !</button>
            <form action="{{ path('app_catalogue_search')}}" method="GET" id="formationSearch">
                <input type="text" placeholder="patissier" name="search" value="{{ app.request.query.get('search') }}">
                <input  type="date" value="{{ app.request.query.get('date') }}" name="date">
                <input  type="submit" value="recherchez!" class="btn">
            </form>
        </div>
        <div>
            {% if is_granted('ROLE_USER') %}
            <a href="/deconnexion" class="btn btn-sm btn-outline-danger">DÉCONNEXION</a>
            {% else %}
            <a href="/connexion" class="btn btn-sm btn-outline-info">CONNEXION</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="/inscription" class="btn btn-sm btn-outline-success">INSCRIPTION</a>
            {% endif %}


        </div>
    </div>
</nav>